.dev-alert{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: rotate(-2deg);
    display: inline-block;
    font-size: 1.2rem;
}

.bump-green-bg{
    background: #2BBA9B;
}

.bump-green-color{
    color: #2BBA9B;
}

*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    padding-left: 0;
}

div, p, span, input, textarea{
    box-sizing: border-box;
    color: #454545;
}

img{
    max-width: 100%;
    align-self: center;
}

.flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    font-size: 0px;
    text-align: center;
}
.column{
    font-size: initial;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.column-2{
    max-width: 50%;
}
.column-3{
    max-width: 33%;
}
.column-4{
    max-width: 25%;
}
.bump-container{
    text-align: center;
}
.bump-constrain{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 1400px;
    text-align: left;
    padding: 10px;
}

.bump-section{
    padding-top: 40px;
/*     border: 1px solid red; */
}

.center{
    text-align: center;
}

.call-to-action{
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid #2BBA9B;
    color: #2BBA9B;
    transition: .2s;
}

.call-to-action:hover{
    background: #2BBA9B;
    color: white;
}



.footer{
    text-align: left;
}
.footer .logo{
    text-align: left;
    padding-top: 15px;

}
.footer .logo img{
    max-width: 120px;
}
.footer h4,
.footer ul,
.footer a{
    text-align: left;
    color: #8f8f8f;
}
.footer ul{
    padding-left: 10px;
}
.footer ul li{
    list-style: none;
}
.footer .row{
    justify-content: space-between;
    padding: 0 3%;
    align-items: flex-start;
}
.footer-column{
    font-size: initial;
}

.attribution{
    padding-left: 3%;
    font-size: 1.1rem;
}
.attribution .copyright{
    font-size: 1.5rem;
    vertical-align: middle;
    font-weight: bold;
}


@media screen and (max-width: 800px){
    .footer{
        background: #efefef;
    }
    .footer .row{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .footer-column{
        width: 100%;
        text-align: center;
    }
    .footer h4,
    .footer ul,
    .footer a,
    .footer .logo,
    .attribution{
        text-align: center;
    }
    .attribution{
        margin: 20px 0;
    }
}

