.bump-green-bg{
    background: #71d1bc;
}
.bump-green-color{
    color: #71d1bc;
}

*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    padding-left: 0;
}

div, p, span, input, textarea{
    box-sizing: border-box;
    color: #454545;
}

img{
    max-width: 100%;
    align-self: center;
}

.flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    font-size: 0px;
    text-align: center;
}
.column{
    font-size: initial;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.column-2{
    max-width: 50%;
}
.column-3{
    max-width: 33%;
}
.column-4{
    max-width: 25%;
}
.bump-container{
    text-align: center;
}
.bump-constrain{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 1400px;
    text-align: left;
    padding: 10px;
}

.bump-section{
    padding-top: 40px;
/*     border: 1px solid red; */
}

.center{
    text-align: center;
}

.call-to-action{
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid #71d1bc;
    color: #71d1bc;
    transition: .2s;
}

.call-to-action:hover{
    background: #71d1bc;
    color: white;
}



.footer{
    text-align: left;
}
.footer .logo{
    text-align: left;

}
.footer .logo img{
    max-width: 120px;
}
.footer h4,
.footer ul,
.footer a{
    text-align: left;
    color: #8f8f8f;
}
.footer ul{
    padding-left: 10px;
}
.footer ul li{
    list-style: none;
}
.footer .row{
    justify-content: space-between;
    padding: 0 3%
}
.footer-column{
    font-size: initial;
}

.attribution{
    padding-left: 3%;
    font-size: 1.1rem;
}
.attribution .copyright{
    font-size: 1.5rem;
    vertical-align: middle;
}