#header{
/*     position: absolute; */
/*     top: 0px; */
/*     width: 100%; */
    height: 70px;
    margin-bottom: 20px;
/*     border: 1px solid yellow; */
}

#logo{
    float: left;
/*     border: 1px solid teal; */
    width: 150px;
    height: 100%;
    position: relative;
}
#logo img{
    height: 50px;
    width: auto;
}

#nav{
    float: right;
    height: 70px;
/*     border: 1px solid blue; */
}
.nav-item{
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
/*     border: 1px solid; */
}
.nav-item a{
    color: #454545;
}
.nav-item.admin{
    border-radius: 6px;
    padding: 8px 12px;
}
.nav-item.admin a{
    font-weight: bold;
    color: white;
}

.nav-item ul{
    position: absolute;
    z-index: 9;
    top: 200px;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    left: 0px;
    margin-left: 0;
    padding-left: 0;
/*     border: 1px solid; */

}
.nav-item:hover ul,
.nav-item ul:hover{
    top: 18px;
    pointer-events: initial;
    opacity: 1;
}

.nav-item .use-case{
    background: white;
    padding: 10px 20px;

}
