/*asdf*/

.use-case-lead{
    padding-left: 10%;
    /*border: 1px solid pink;*/
}
.use-case-lead h2{
    margin-left: -10%;
}

.use-case-steps{
    padding-left: 45%;
}

.use-case-steps .step{
    margin: 50px 0;
}
.use-case-steps .question,
.use-case-steps .answer{
    font-weight: bold;
}

.use-case-close{
    text-align: center;
}