/*asdf*/

.use-case-lead p{
    padding-left: 7%;
    /*border: 1px solid pink;*/
}
.use-case-lead h2{
    margin-left: -10%;
}

.use-case-steps{
    padding-left: 45%;
}

.use-case-steps .step{
    margin: 50px 0;
}
.use-case-steps .question,
.use-case-steps .answer{
    font-weight: bold;
}

.use-case-close{
    text-align: center;
}

@media screen and (max-width: 750px){
    .use-case-steps{
       padding-left: 0%;
    }
    .use-case-lead{
        padding-left: 0px;
    }
}